ion-row {
  display: flex;
  justify-content: center;

  ion-card {
    padding: 20px;

    ion-item {
      --padding-start: 0px;
    }

    ion-col {
      width: 180px !important;

      ion-radio {
        margin: 15px;
      }
    }
  }
}
